<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit user</title>
</head>
<body>
    <h1>Id for user to be edited:<%= user.email%></h1>
    <form method="POST" action="/user/<%= user.id %>/?_method=PATCH">
        <textarea name="username"><%= user.username %></textarea>
        <input type="password" name="password" placeholder="enter password">
        <button>Edit</button>
    </form>
</body>
</html>