<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <form action="/users/new" method="POST">
        Id: <input type="number" placeholder="enter id" name="id"> <br><br>
       Username: <input type="text" placeholder="enter username" name="username"><br><br>
       Email: <input type="email" placeholder="enter email" name="email"><br><br>
        Password:<input type="password" placeholder="enter password" name="password"><br><br>
        <button>Create</button>
    </form>
</body>
</html>